.services {
  margin-top: 80px;
  background-color: rgb(250, 250, 252);
}


.services-grid {
  padding-top: 80px;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services-grid__item {
  border: solid red 2pt;
  /* display: flex;
  flex-direction: column; */
}

.services-grid__image {
  margin: auto;

}