.services {
  margin-top: 80px;
  background-color: rgb(250, 250, 252);
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: 'Barlow', sans-serif;
}


.services-grid {
  /* border: solid blue 2pt; */
  padding-top: 80px;
  padding-bottom: 80px;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services-grid__item {
  /* border: solid red 2pt; */
  /* display: flex;
  flex-direction: column; */
}

.services-grid__image img {
  /* border: solid blue 2pt; */
  margin: auto;
  width: 80%;
  display: block;
  /* margin-right: auto; */
}

.services-grid__title {
  color: rgb(9, 23, 71);
  font-size: 22px;
  font-weight: 500;
  /* display: block; */
  /* margin: auto; */
  text-align: center;
  vertical-align: middle;
  line-height: 50px;

}

.services-grid__description {
  /* border: solid red 2pt; */
  color: rgb(59, 59, 59);
  color: gray;
  text-align: center;
  vertical-align: middle;
  line-height: 1.4;
  font-size: 15px;
  width: 75%;
  margin: auto;
  letter-spacing: 1.2px;
  text-emphasis: 400;
}


/* =======================================
===========Media Queries===============
======================================== */

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  /* and (-webkit-min-device-pixel-ratio: 3)  */
  { 
    .services-grid {
      grid-template-columns: 1fr ;
      grid-gap: 40px;
      padding-top: 10px;
      padding-bottom: 40px;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}