.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
  margin-top: 100px;
  font-family: 'Barlow', sans-serif;
}

.hero_text {
  /* border: 2px solid red; */

}

.hero_text__heading {
  /* font-family: Helvetica, Arial, sans-serif; */
  font-size: 3.5em;
  font-weight: 700;
}

.hero_text__highlight {
  width: 260px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
  letter-spacing: 1.2px;
  line-height: 25px;
}

.hero_text__paragraph {
  margin-top: 12px;
  width: 360px;
  font-size: 12px;
  color: rgb(59, 59, 59);
  letter-spacing: 1px;
  line-height: 18px;

}

.hero__button {
  margin-top: 30px;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  line-height: 1;
  border-radius: 5px;
  transition: background 200ms ease 0s;
  background: none rgb(214, 141, 95);
  text-transform: uppercase;
  width: 140px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  height: 40px;
}

.hero_video {
  /* border: 2px solid blue; */
  margin-left: auto;
}