.hero {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
  margin-top: 100px;
  font-family: 'Barlow', sans-serif;
}

.hero_text {
  /* border: 2px solid green; */
}

.hero_text__heading {
  /* font-family: Helvetica, Arial, sans-serif; */
  font-size: 4em;
  font-weight: 800;
  color: rgb(9, 23, 71);
}

.hero_text__highlight {
  width: 300px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 18px;
  letter-spacing: 1.2px;
  line-height: 30px;
  color: rgb(9, 23, 71);
}

.hero_text__paragraph {
  margin-top: 10px;
  width: 360px;
  font-size: 16px;
  color: rgb(59, 59, 59);
  /* letter-spacing: 1px; */
  line-height: 24px;

}

.hero__button {
  margin-top: 14px;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  line-height: 1;
  border-radius: 5px;
  transition: background 200ms ease 0s;
  background: none rgb(214, 141, 95);
  text-transform: uppercase;
  width: 157px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  height: 47px;
}

.hero_video {
  /* border: 2px solid blue; */
  margin-left: auto;
}


@media  (max-width: 975px) {
  .hero{
  grid-template-columns: 1fr;
}



.hero_text {
  margin: auto;
}

.hero_text__heading {
  /* border: 2px solid green; */
  /* font-family: Helvetica, Arial, sans-serif; */
  /* font-size: 4em;
  font-weight: 800;
  color: rgb(9, 23, 71); */
}

.hero_text__highlight {
  /* width: 300px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 18px;
  letter-spacing: 1.2px;
  line-height: 30px;
  color: rgb(9, 23, 71); */
}

.hero_text__paragraph {
  /* margin-top: 10px;
  width: 360px;
  font-size: 16px;
  color: rgb(59, 59, 59);
  line-height: 24px; */
  /* letter-spacing: 1px; */
  width: 80%;

}

.hero__button {
  /* margin-top: 14px;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  line-height: 1;
  border-radius: 5px;
  transition: background 200ms ease 0s;
  background: none rgb(214, 141, 95);
  text-transform: uppercase;
  width: 157px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  height: 47px; */
}

.hero_video {
  /* border: 2px solid blue; */
  margin: auto;
  margin-top: 60px;
  margin-bottom: -50px;
}


}
