.header {
  display: flex;
  padding-top: 30px;
  width: 90%;
  margin: auto;
  /* border: solid red 2pt; */
}

.header__logo {
  height: max-content;

}

.header__icon-list {
  /* border: solid blue 2pt; */
  display: flex;
  margin-left: auto;
  margin-top: auto;
  align-items: center;
}

.header__icon-item {
  /* border: solid red 2pt; */
  list-style: none;
}

.fa-linkedin-in {
  background-color: #acaeb3ea;
  padding: 10px;
  border-radius: 50%;
  color: white;
  font-size: 17px;
  margin-right: 20px;
}

.fa-twitter {
  font-size: 30px;
  color: #acaeb3ea;
  margin-right: 60px;
}

.header__button {

  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  line-height: 1;
  border-radius: 5px;
  transition: background 200ms ease 0s;
  background: none rgb(214, 141, 95);
  text-transform: uppercase;
  width: 157px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  height: 47px;
}