.header {
  /* border: solid green 2pt; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 95%;
  margin: auto;
}

.header__logo {
  padding-top: 30px;
  height: max-content;

}

.header__icon-list {
  /* border: solid blue 2pt; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__rightside{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__icon-item {
  /* border: solid red 2pt; */
  list-style: none;
}

.fa-linkedin-in {
  background-color: #acaeb3ea;
  padding: 10px;
  border-radius: 50%;
  color: white;
  font-size: 17px;
  margin-right: 20px;
}

.fa-twitter {
  font-size: 30px;
  color: #acaeb3ea;
  margin-right: 60px;
}

.header__button {

  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  line-height: 1;
  border-radius: 5px;
  transition: background 200ms ease 0s;
  background: none rgb(214, 141, 95);
  text-transform: uppercase;
  width: 157px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  height: 47px;
}


/* =======================================
===========Media Queries===============
======================================== */

/* * ----------- iPhone X ----------- */ 

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  /* and (-webkit-min-device-pixel-ratio: 3)  */
  { 
    .header {
      width: 95%;
    }

    .header__rightside{
      display: grid;
    }

    .header__icon-list {
     width: 100px;
    }  
    
    .fa-twitter {
      margin-right: 0px;
    }
    
    .header__button {
      margin-left: 55px;
      width: 90px;
    }
}
