.footer {
  background-color: rgb(4, 11, 36);
  color: white;
  font-family: 'Barlow', sans-serif;
  display: flex;
  height: 120px;
  /* position: absolute; */
  /* margin-bottom: 0; */
  /* margin-bottom: -100px; */
}

.footer ul {
  display: flex;
  align-items: center;
}

.footer li {
  /* color: blue; */
  /* flex-shrink: 0; */
  display: flex;
  text-decoration: none;
  font-size: 12px;
  margin-left: 30px;

}